<!-- Content Heading -->
<% if (title) {%>
    <h1><%= title %></h1>
    <%} else {
        res.redirect('/')
    } %>
<%- messages() %> 
    
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <% if(error.msg != "Invalid value"){ %>
        <li><%= error.msg %></li>
  <%  }}) %>
   </ul>
  <% } %>   
    
 
<%- loggedInView %>
<input type="hidden" name = "account_id" id="account_id" <% if(locals.account_id) { %> value ="<%= locals.account_id %>" <% } %>>
