<!-- Content Heading -->
<% if (title) {%>
    <h1><%= title %></h1>
    <%} else {
        res.redirect('/')
    } %>
<%- messages() %> 
    
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <% if(error.msg != "Invalid value"){ %>
        <li><%= error.msg %></li>
  <%  }}) %>
   </ul>
  <% } %>   
    
<!--  Form display -->
<!-- maybe hard code the labes and have the view be the input variables -->
<!-- <[add % here]- registerView %> -->
<form id="registerForm" action="/account/register" method="post">
    <fieldset >
        <legend>Registration Form</legend>
        <label for="account_firstname">First Name:</label><br>
        <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.account_firstname %>"><br><br>
        <label for="account_lastname">Last Name:</label><br>
        <input type="text" id="account_lastname" name="account_lastname" value="<%= locals.account_lastname %>" required><br><br>
        <label for="account_email">Email Address</label><br>
        <input type="email" id="account_email" name="account_email" value="<%= locals.account_email %>" required><br><br>
        <label for="account_password">Password</label><br>
        <input type="password" id="account_password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required><br><br>
        
        <p>Password must contain:</p>
        <ul class="passReqList">
            <li>At least 12 characters</li>
            <li>At least 1 captial letter</li>
            <li>At least 1 number</li>
            <li>At least 1 special character</li>
        </ul>
        <!-- <input type="button" id="passShowHide" value="Show Password"><br><br> -->
    
        <input type="submit" value="Register">
    </fieldset> 
    
    

    </form>