<!-- Content Heading -->
<% if (title) {%>
    <h1><%= title %></h1>
    <%} else {
        res.redirect('/')
    } %>


    
<%- messages() %> 
    
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
  <% }) %>
   </ul>
  <% } %>
    

  <!-- <-%- addInventoryView %> -->

<form id="AddInventoryViewForm" action="/inv/add-inventory" method="post">

    <fieldset>
        <legend>New Vehicle Form</legend>
        <p>Classification Name</p>
        <%- droplist %><br><br>

        <label for="inv_year">Year</label><br>
        <input type="number" name="inv_year" id="inv_year"  min="1886" max="2025" required value="<%= locals.inv_year %>"><br><br>
        <label for="inv_make">Make</label><br>
        <input type="text" name="inv_make" id="inv_make" required value="<%= locals.inv_make %>" ><br><br>
        
        <label for="inv_model">Model</label><br>
        <input type="text" name="inv_model" id="inv_model" required value="<%= locals.inv_model %>" ><br><br>
        
        <label for="inv_description">Description</label><br>
        <textarea name="inv_description" id="inv_description"  rows=10 cols="30" value="<%= locals.inv_description %>" ></textarea><br><br>
        
        <label for="inv_image">Image Path</label><br>
        <input type="text" name="inv_image" id="inv_image" required value="/images/vehicles/no-image.png"><br><br>
        
        <label for="inv_thumbnail">Thumbnail Path</label><br>
        <input type="text" name="inv_thumbnail" id="inv_thumbnail" required value="/images/vehicles/no-image-tn.png"><br><br>
        
        <label for="inv_price">Price</label><br>
        <input type="number" name="inv_price" id="inv_price" min="1" max="9999999" required value="<%= locals.inv_price %>" ><br><br>
        
        <label for="inv_miles">Miles</label><br>
        <input type="number" name="inv_miles" id="inv_miles" required min="0" max="9999999" value="<%= locals.inv_miles %>" ><br>
        
        <label for="inv_color">Color</label><br>
        <input type="text" name="inv_color" id="inv_color" required value="<%= locals.inv_color %>" ><br><br>
        
        <button type="submit">Submit New Vehicle</button>


    </fieldset>




</form>