<!-- Content Heading -->
<% if (title) {%>
    <h1><%= title %></h1>
    <%} else {
        res.redirect('/')
    } %>
<%- messages() %> 
    
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <% if(error.msg != "Invalid value"){ %>
        <li><%= error.msg %></li>
  <%  }}) %>
   </ul>
  <% } %>
    

  <%- managementView %>
  <h2>Manage Inventory</h2>
  <p>Select a classification to see inventory</p>
  <%- classificationList %>
  <table id="inventoryDisplay"></table>
  <noscript>JavaScript must be enabled to use this page.</noscript>

<!-- create a js file and hook the file to this file to watch for changes -->
<script src="../js/inventory.js"></script>




  